/Cliente acceso/nbproject/private/
/Cliente acceso/build/
/Servidor acceso/nbproject/private/
/Servidor acceso/build/
/Servidor_adm/nbproject/private/
/Servidor_adm/build/
/Cliente acceso/dist/
/Servidor_adm/dist/
/Servidor res/dist/
/Servidor acceso/dist/
/Cliente res/dist/
/Cliente admin/dist/